{% extends 'base.html' %}

{% block content %}
  <div class="jumbotron">
    {% if current_user.is_authenticated %}

      <h1 class="display-4">Hello, {{ current_user.firstname }}!</h1>
      <p class="lead">Take a look at the annual club leader boards!</p>
      <hr class="my-4">
      <p>This app is able to read your activity feed. It does not store any of the data.</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="/leaderboard" role="button">Go to the Leaderboard</a>
      </p>

    {% else %}
          <h1 class="display-4">Hello!</h1>
            <p class="lead">Please <a href="/authorize">Login</a>.</p>
          </li>
    {% endif %}

  </div>
{% endblock %}