{% extends 'base.html' %}

{% block content %}
  <div class="jumbotron">
    {% if current_user.is_authenticated %}

      <h1 class="display-4">Hello, {{ current_user.firstname }}!</h1>
      <p class="lead">Take a look at the annual club leader board; or follow the chart race for the year!</p>
      <hr class="my-4">
      <p>This app is able to read your activity feed, however it does not use the API to access or store any of your data.</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="/leaderboard" role="button">Leaderboard</a>
        <a class="btn btn-primary btn-lg" href="/chartrace" role="button">Chart Race</a>
      </p>

    {% else %}
          <h1 class="display-4">Hello!</h1>
            <p class="lead">Please <a href="/authorize">Login</a>.</p>
          </li>
    {% endif %}

  </div>
{% endblock %}