{% extends 'base.html' %}

{% block content %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Firstname</th>
      <th scope="col">Lastname</th>
      <th scope="col">Distance</th>
      <th scope="col">Last data sync</th>
    </tr>
  </thead>
  <tbody>
    {% for item in stats_list %}
      <tr>
        <th>{{ loop.index }}</th>
        <td>{{ item.Athlete.firstname }}</td>
        <td>{{ item.Athlete.lastname }}</td>
        <td>{{ item.Stats.running_ytd_distance }}</td>
        <td>{{ item.Athlete.update_timestamp }}</td>
      </tr>
    {% endfor %}

  </tbody>
</table>
{% endblock %}